<nav>
    🌱 |
    <a href="/">Home</a>
    <span aria-hidden="true">
        ·
    </span>
    <a href="/about/">About</a>
    <span aria-hidden="true">
        ·
    </span>
    <a href="/legend/">Legend</a>
    <span aria-hidden="true">
        ·
    </span>
    <a href="https://brennan.day">Main Site</a>
    <span aria-hidden="true">
        ·
    </span>
    <a href="https://github.com/brennanbrown/brennan.click">Source</a>
</nav>